
<!-- Change portfolio to gallery(slideshow)-  showcasing diversity done
 Add Photogrohper Kyng Speaker Dontay Terrance Fountain Co-Founder Team smaller images with more information
Testomonials
Vertical contact form with Subject field
ybnormal2016@gmail.com contact email
services page anchor to related topic
5/10/2017 change background in contact section
change navbar/fix dead links ...back to black done
add images to about section relating to event
use gimp to edit photos...
use mail function to provide service for emails..
add testomonial section to page
6/15/2017
add schools from out of city and state on ybnormal facebook page
oak grove high school(group photo)
dade county high school(circle logan speaking)
5th grade promotion bess t sheppard
partnership with chattanooga sprint
cut the hate share the love
  -->




    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
                <a href="#services" class="page-scroll btn btn-xl">Who are we?</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Empowerment Speaking</h4>
                    <p class="text-muted">We create speaches intended to empower, transform, and inspire the audience.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Logical Thinking</h4>
                    <p class="text-muted">Logical thinking is simply daily concepts broken down based on life experiences. It literally correlates basic necessitites with core values needed to succeed in life.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Outreach</h4>
                    <p class="text-muted">The practice of offering support to our community is important to us. We give back by having monthly community outreach projects in different locations.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mentorship</h4>
                    <p class="text-muted">Y B Normal? is a youth mentor, empowerment sp</p>
                </div>
            </div>
        </div>
    </section>

    <section id="slideshow" class ="bg-light-gray">
      <h2 id="portfolio" class="text-center">Check out our work!</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    <% @posts.each_with_index do |post, x| %>
    <%if x.zero? %>
    <li data-target="#myCarousel" data-slide-to="<%= x %>" class="active"></li>
    <% else %>
    <li data-target="#myCarousel" data-slide-to="<%= x %>"></li>
    <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @posts.each_with_index do |post, x| %>
    <% if x.zero? %>
    <div class="item active">
    <% else %>
      <div class="item">
    <% end %>
      <%= image_tag(post.image.url(:large), :class => "img-responsive img-centered") %>
      <div class="carousel-caption">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
      </div>
    </div>
    <% end %>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>
    <!-- Portfolio Grid Section -->
    <!-- <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/csas.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>C.S.A.S.</h4>
                        <p class="text-muted">Speaking Engagement</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Tyner.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Tyner</h4>
                        <p class="text-muted">Speaking Engagement</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/utc.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>UTC</h4>
                        <p class="text-muted">Speaking Engagement</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <iframe src ="https://www.youtube.com/embed/IJqFU_hbfwE" class="img-responsive" alt=""></iframe>
                    </a>
                    <div class="portfolio-caption">
                        <h4>East Lake</h4>
                        <p class="text-muted">Community Outreach</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <iframe src ="https://www.youtube.com/embed/McxgJWT9lLg" class="img-responsive" alt=""></iframe>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Giveaway</h4>
                        <p class="text-muted">Community Outreach</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <iframe src ="https://www.youtube.com/embed/gpL4S5DFW5s" class="img-responsive" alt=""></iframe>
                    </a>
                    <div class="portfolio-caption">
                        <h4>You matter!</h4>
                        <p class="text-muted">Motivational Speaking</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Y.B.Normal? is a youth mentor, motivational (empowerment) speaking and community outreach organization with the goal of inspiring and empowering troubled and underprivileged youth to strive for greatness and find a different path from social norms. Why be normal? Be extraordinary.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <% @posts.each_with_index do |post, x| %>
                          <% if x.even? %>
                        <li>
                          <% else %>
                          <li class="timeline-inverted">
                            <% end %>
                            <div class="timeline-image">
                                <%= image_tag(post.image.url(:square), :class => "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"><%= post.title %></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><%= post.body %></p>
                                </div>
                            </div>
                        </li>

                        <% end %>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Upcoming Events Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Events</h2>
                </div>
                <div class="row">
                    <% unless @events.count == 0 %>
                    <% @events.each do |event| %>
                    <div class="col-sm-3">

                        <div class="team-member">
                            <%= image_tag(event.image(:square), :class => "img-responsive") %>
                            <h3><%= event.title %></h3>
                            <h4><%= event.day.strftime("%A %B %d, %Y") %></h4>
                            <p class="text-muted"><%= event.description %></p>
                        </div>
                    </div>
                      <% end %>
                      <% else %>
                      <div class="team-member">
                        <p class="text-muted">No events</p>
                      </div>
                    <% end %>

                  </div>
                <div class="row">
                  <p class="text-muted pull-right"><%= link_to "Show All", events_path %></p>
                </div>
              </section>

    <!-- Team Section -->

    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>

                </div>
            </div>
            <div class="row">
                <% @teams.each do |team| %>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag(team.image(:square), :class => "img-circle img-responsive") %>
                        <h4><%= team.name %></h4>
                        <p class="text-muted"><%= team.title %></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://<%= team.twitter %>"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://<%= team.facebook %>"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://<%= team.youtube %>"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% end %>
              </div>
          </section>

    <!-- Clients Aside -->
    <!-- <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="img/yblogo1.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside> -->

    <section id ="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Find Us!</h2>
            <h3 class="section-subheading text-muted">Check us out across the web!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 " id="socialmedia">
            <div class="col-md-6">
              <h3>
                <a href="https://www.facebook.com/YBNormal2016">
                  <i class="fa fa-facebook-square fa-5x"></i>
                  @YBNormal2016</h3></a>
            </div>
            <div class="col-md-6">
              <h3>
                <a href="https://www.youtube.com/channel/UC78Dn_sH6BvdhbbHj2RXmzw">
                  <i class="fa fa-youtube-square fa-5x"></i>
                  @Y.B.Normal?</h3></a>
            </div>
            <div class="col-md-6">
              <h3>
                <a href="https://www.instagram.com/y.b.normal2016/?hl=en">
                  <i class="fa fa-instagram fa-5x"></i>
                  @y.b.normal2016</h3></a>
            </div>
            <div class="col-md-6">
              <h3>
                <a href="https://twitter.com/YBNormal2016">
                  <i class="fa fa-twitter fa-5x"></i>
                 @YBNormal2016</h3></a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Got Questions? Let us Know!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <form action="https://formspree.io/ybnormal2016@gmail.com"
                    method="POST">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input name="_replyto" type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input name="phone" type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name='message' placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <input type="submit" class="btn btn-xl" value="Send Message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Y.B.Normal? 2017</span>
                </div>
                <div class="col-md-4">
                  <h4><a href="#">Back to Top</a></h4>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Website by: <a href="https://mbryantwebdev.com">Michael Bryant</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
